body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3 {
  font-family: "Helvetica Neue";
  font-weight: 600;
  letter-spacing: 0.5px;
}

.btn,
.btn-dark,
.btn-check:focus + .btn-dark,
.btn-dark:focus,
.btn-check:focus + .btn,
.btn:focus {
  border: none;
  box-shadow: none;
}

.btn-dark:hover {
  background: #212529;
}

.bg-primary,
.bg-primarycolor,
.btn-light {
  letter-spacing: 0.7px;
}

.bg-primarycolor {
  background-color: fuchsia;
}

.bg-primarycolordark {
  background-color: rgb(164, 0, 164);
}

.primarycolor {
  color: fuchsia;
}

.primarycolordark {
  color: rgb(164, 0, 164);
}

.shadow-primarycolor {
  /* border-radius: 2%; */
  box-shadow: 0px 0px 20px fuchsia;
}

.sans-serif {
  font-family: Arial, Helvetica, sans-serif;
}

/* Remove scrollbar from number input: Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove scrollbar from number input: Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.redCard {
  height: 100%;
  width: 100%;
  flex-direction: column;
  position: fixed;
  border: red solid 2px;
}

.orangeCard {
  height: 100%;
  border: orange solid 2px;
}

.yellowCard {
  border: yellow solid 2px;
}

.greenCard {
  max-height: 100%;
  border: limegreen solid 2px;
}

.cyanCard {
  background: #3d3d3d;
  border-color: #646464;
  border-width: 1px;
  border: cyan solid 2px;
}

.blueCard {
  max-height: 60vh;
  overflow-y: scroll;
  border: blue solid 2px;
}

.spinnerHolder {
  display: none;
  z-index: 10;
}

.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid blue;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;

  position: fixed;
  top: calc(50% - 60px);
  left: calc(50% - 60px);
  display: block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.obscurus {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 0px;
}
